In [2]:
import warnings
warnings.simplefilter('ignore')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
plt.rc('font', family = 'Verdana')

In [3]:
# увеличиваем количество отображаемых столбцов
pd.set_option('display.max_columns', 60)

## __Считывание CSV файла в DataFrame__

In [4]:
# загружаем данные
data = pd.read_csv('./Credit_OTP.csv', encoding = 'cp1251', sep = ';')
data.head()

,AGREEMENT_RK,TARGET,AGE,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,CHILD_TOTAL,DEPENDANTS,EDUCATION,MARITAL_STATUS,GEN_INDUSTRY,GEN_TITLE,ORG_TP_STATE,ORG_TP_FCAPITAL,JOB_DIR,FAMILY_INCOME,PERSONAL_INCOME,REG_ADDRESS_PROVINCE,FACT_ADDRESS_PROVINCE,POSTAL_ADDRESS_PROVINCE,TP_PROVINCE,REGION_NM,REG_FACT_FL,FACT_POST_FL,REG_POST_FL,REG_FACT_POST_FL,REG_FACT_POST_TP_FL,FL_PRESENCE_FL,OWN_AUTO,AUTO_RUS_FL,HS_PRESENCE_FL,COT_PRESENCE_FL,GAR_PRESENCE_FL,LAND_PRESENCE_FL,CREDIT,TERM,FST_PAYMENT,DL_DOCUMENT_FL,GPF_DOCUMENT_FL,FACT_LIVING_TERM,WORK_TIME,FACT_PHONE_FL,REG_PHONE_FL,GEN_PHONE_FL,LOAN_NUM_TOTAL,LOAN_NUM_CLOSED,LOAN_NUM_PAYM,LOAN_DLQ_NUM,LOAN_MAX_DLQ,LOAN_AVG_DLQ_AMT,LOAN_MAX_DLQ_AMT,PREVIOUS_CARD_NUM_UTILIZED
0,59910150,0,49,1,0,1,2,1,Среднее специальное,Состою в браке,Торговля,Рабочий,Частная компания,Без участия,Вспомогательный техперсонал,от 10000 до 20000 руб.,5000,Оренбургская область,Оренбургская область,Оренбургская область,Оренбургская область,ПОВОЛЖСКИЙ,1,1,1,1,1,0,0,0,0,0,0,0,8000,6,8650,0,1,220,18.0,0,0,1,1,1,6,2,1,1580,1580,NaN
1,59910230,0,32,1,0,1,3,3,Среднее,Состою в браке,Торговля,Рабочий,Индивидуальный предприниматель,Без участия,Участие в основ. деятельности,от 10000 до 20000 руб.,12000,Кабардино-Балкария,Кабардино-Балкария,Кабардино-Балкария,Ставропольский край,ЮЖНЫЙ,1,1,1,1,0,0,0,0,0,0,0,0,21650,6,4000,0,1,137,97.0,1,0,1,1,1,6,1,1,4020,4020,NaN
2,59910525,0,52,1,0,1,4,0,Неполное среднее,Состою в браке,Информационные технологии,Специалист,Государственная комп./учреж.,Без участия,Участие в основ. деятельности,от 10000 до 20000 руб.,9000,Иркутская область,Иркутская область,Иркутская область,Иркутская область,ВОСТОЧНО-СИБИРСКИЙ,1,1,1,1,1,0,0,0,1,0,0,0,33126,12,4000,0,1,251,84.0,0,0,1,2,1,11,0,0,0,0,NaN
3,59910803,0,39,1,0,1,1,1,Высшее,Состою в браке,Образование,Руководитель среднего звена,Государственная комп./учреж.,Без участия,Участие в основ. деятельности,от 20000 до 50000 руб.,25000,Ростовская область,Ростовская область,Ростовская область,Ростовская область,ЮЖНЫЙ,0,1,0,0,1,1,0,0,0,0,0,0,"8491,82",6,5000,0,0,36,168.0,1,1,1,1,1,6,3,1,"1589,923333",1590,NaN
4,59911781,0,30,1,0,0,0,0,Среднее,Состою в браке,Государственная служба,Специалист,Государственная комп./учреж.,Без участия,Участие в основ. деятельности,от 10000 до 20000 руб.,12000,Кабардино-Балкария,Кабардино-Балкария,Кабардино-Балкария,Ставропольский край,ЮЖНЫЙ,1,1,1,1,0,0,0,0,1,0,0,0,21990,12,4000,0,1,83,101.0,1,0,1,2,1,16,2,1,"1152,15",2230,NaN

## __Преобразование типов переменных__

In [5]:
# выводим информацию о количестве непропущенных наблюдений в переменных и типах переменных
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15223 entries, 0 to 15222
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   AGREEMENT_RK                15223 non-null  int64
 1   TARGET                      15223 non-null  int64
 2   AGE                         15223 non-null  int64
 3   SOCSTATUS_WORK_FL           15223 non-null  int64
 4   SOCSTATUS_PENS_FL           15223 non-null  int64
 5   GENDER                      15223 non-null  int64
 6   CHILD_TOTAL                 15223 non-null  int64
 7   DEPENDANTS                  15223 non-null  int64
 8   EDUCATION                   15223 non-null  object
 9   MARITAL_STATUS              15223 non-null  object
 10  GEN_INDUSTRY                13856 non-null  object
 11  GEN_TITLE                   13856 non-null  object
 12  ORG_TP_STATE                13856 non-null  object
 13  ORG_TP_FCAPITAL             13858 non-null  object
 14  JOB_DIR                     13856 non-null  object
 15  FAMILY_INCOME               15223 non-null  object
 16  PERSONAL_INCOME             15223 non-null  object
 17  REG_ADDRESS_PROVINCE        15223 non-null  object
 18  FACT_ADDRESS_PROVINCE       15223 non-null  object
 19  POSTAL_ADDRESS_PROVINCE     15223 non-null  object
 20  TP_PROVINCE                 14928 non-null  object
 21  REGION_NM                   15222 non-null  object
 22  REG_FACT_FL                 15223 non-null  int64
 23  FACT_POST_FL                15223 non-null  int64
 24  REG_POST_FL                 15223 non-null  int64
 25  REG_FACT_POST_FL            15223 non-null  int64
 26  REG_FACT_POST_TP_FL         15223 non-null  int64
 27  FL_PRESENCE_FL              15223 non-null  int64
 28  OWN_AUTO                    15223 non-null  int64
 29  AUTO_RUS_FL                 15223 non-null  int64
 30  HS_PRESENCE_FL              15223 non-null  int64
 31  COT_PRESENCE_FL             15223 non-null  int64
 32  GAR_PRESENCE_FL             15223 non-null  int64
 33  LAND_PRESENCE_FL            15223 non-null  int64
 34  CREDIT                      15223 non-null  object
 35  TERM                        15223 non-null  int64
 36  FST_PAYMENT                 15223 non-null  object
 37  DL_DOCUMENT_FL              15223 non-null  int64
 38  GPF_DOCUMENT_FL             15223 non-null  int64
 39  FACT_LIVING_TERM            15223 non-null  int64
 40  WORK_TIME                   13855 non-null  float64
 41  FACT_PHONE_FL               15223 non-null  int64
 42  REG_PHONE_FL                15223 non-null  int64
 43  GEN_PHONE_FL                15223 non-null  int64
 44  LOAN_NUM_TOTAL              15223 non-null  int64
 45  LOAN_NUM_CLOSED             15223 non-null  int64
 46  LOAN_NUM_PAYM               15223 non-null  int64
 47  LOAN_DLQ_NUM                15223 non-null  int64
 48  LOAN_MAX_DLQ                15223 non-null  int64
 49  LOAN_AVG_DLQ_AMT            15223 non-null  object
 50  LOAN_MAX_DLQ_AMT            15223 non-null  object
 51  PREVIOUS_CARD_NUM_UTILIZED  288 non-null    float64
dtypes: float64(2), int64(32), object(18)
memory usage: 6.0+ MB

Видим что у многих переменных тип определен неправильно, идентификационная переменная AGREEMENT_RK, неверно записана как количественная, все категориальные переменные-флаги, принимающие значение 0 или 1, так же неверно записаны как количественные

In [6]:
# переменные неверно записанные как количественные, преобразуем в тип object
for i in ['AGREEMENT_RK', 'TARGET', 'SOCSTATUS_WORK_FL', 'SOCSTATUS_PENS_FL', 'GENDER',
          'REG_FACT_FL', 'FACT_POST_FL', 'REG_POST_FL', 'REG_FACT_POST_FL', 'REG_FACT_POST_TP_FL',
          'FL_PRESENCE_FL', 'AUTO_RUS_FL', 'HS_PRESENCE_FL', 'COT_PRESENCE_FL', 'GAR_PRESENCE_FL',
          'LAND_PRESENCE_FL', 'DL_DOCUMENT_FL', 'GPF_DOCUMENT_FL', 'FACT_PHONE_FL', 'REG_PHONE_FL',
          'GEN_PHONE_FL']:
    data[i] = data[i].astype('object')

Некоторые количественные переменные были неверно записаны как категориальные из-за того, что в качестве разделителя вместо точки использовалась запятая

In [7]:
# в указанных переменных заменяем запятую на точку в качестве десятичного разделителя и преобразуем в тип float 
for i in ['PERSONAL_INCOME', 'CREDIT', 'FST_PAYMENT', 'LOAN_AVG_DLQ_AMT', 'LOAN_MAX_DLQ_AMT']:
    data[i] = data[i].str.replace(',', '.').astype('float')

In [8]:
# вновь смотрим данные
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15223 entries, 0 to 15222
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   AGREEMENT_RK                15223 non-null  object
 1   TARGET                      15223 non-null  object
 2   AGE                         15223 non-null  int64
 3   SOCSTATUS_WORK_FL           15223 non-null  object
 4   SOCSTATUS_PENS_FL           15223 non-null  object
 5   GENDER                      15223 non-null  object
 6   CHILD_TOTAL                 15223 non-null  int64
 7   DEPENDANTS                  15223 non-null  int64
 8   EDUCATION                   15223 non-null  object
 9   MARITAL_STATUS              15223 non-null  object
 10  GEN_INDUSTRY                13856 non-null  object
 11  GEN_TITLE                   13856 non-null  object
 12  ORG_TP_STATE                13856 non-null  object
 13  ORG_TP_FCAPITAL             13858 non-null  object
 14  JOB_DIR                     13856 non-null  object
 15  FAMILY_INCOME               15223 non-null  object
 16  PERSONAL_INCOME             15223 non-null  float64
 17  REG_ADDRESS_PROVINCE        15223 non-null  object
 18  FACT_ADDRESS_PROVINCE       15223 non-null  object
 19  POSTAL_ADDRESS_PROVINCE     15223 non-null  object
 20  TP_PROVINCE                 14928 non-null  object
 21  REGION_NM                   15222 non-null  object
 22  REG_FACT_FL                 15223 non-null  object
 23  FACT_POST_FL                15223 non-null  object
 24  REG_POST_FL                 15223 non-null  object
 25  REG_FACT_POST_FL            15223 non-null  object
 26  REG_FACT_POST_TP_FL         15223 non-null  object
 27  FL_PRESENCE_FL              15223 non-null  object
 28  OWN_AUTO                    15223 non-null  int64
 29  AUTO_RUS_FL                 15223 non-null  object
 30  HS_PRESENCE_FL              15223 non-null  object
 31  COT_PRESENCE_FL             15223 non-null  object
 32  GAR_PRESENCE_FL             15223 non-null  object
 33  LAND_PRESENCE_FL            15223 non-null  object
 34  CREDIT                      15223 non-null  float64
 35  TERM                        15223 non-null  int64
 36  FST_PAYMENT                 15223 non-null  float64
 37  DL_DOCUMENT_FL              15223 non-null  object
 38  GPF_DOCUMENT_FL             15223 non-null  object
 39  FACT_LIVING_TERM            15223 non-null  int64
 40  WORK_TIME                   13855 non-null  float64
 41  FACT_PHONE_FL               15223 non-null  object
 42  REG_PHONE_FL                15223 non-null  object
 43  GEN_PHONE_FL                15223 non-null  object
 44  LOAN_NUM_TOTAL              15223 non-null  int64
 45  LOAN_NUM_CLOSED             15223 non-null  int64
 46  LOAN_NUM_PAYM               15223 non-null  int64
 47  LOAN_DLQ_NUM                15223 non-null  int64
 48  LOAN_MAX_DLQ                15223 non-null  int64
 49  LOAN_AVG_DLQ_AMT            15223 non-null  float64
 50  LOAN_MAX_DLQ_AMT            15223 non-null  float64
 51  PREVIOUS_CARD_NUM_UTILIZED  288 non-null    float64
dtypes: float64(7), int64(11), object(34)
memory usage: 6.0+ MB

### __Импутация пропусков, не использующая результаты математических вычислений (импутация, которую можно выполнять до / после разбиения на обучени / контроль__

In [11]:
# если в интересующей нас переменной есть пропуск и при этом переменная SOCSTATUS_PENS_FL имеет значение 1
# заменяем такие пропуски меткой 'Не указано'
data['GEN_INDUSTRY'] = np.where(data['GEN_INDUSTRY'].isnull() \
                               | (data['SOCSTATUS_PENS_FL'] == 1),
                               'Не указано', data['GEN_INDUSTRY'])
data['GEN_TITLE'] = np.where(data['GEN_TITLE'].isnull() \
                               | (data['SOCSTATUS_PENS_FL'] == 1),
                               'Не указано', data['GEN_TITLE'])
data['ORG_TP_STATE'] = np.where(data['ORG_TP_STATE'].isnull() \
                               | (data['SOCSTATUS_PENS_FL'] == 1),
                               'Не указано', data['ORG_TP_STATE'])
data['ORG_TP_FCAPITAL'] = np.where(data['ORG_TP_FCAPITAL'].isnull() \
                               | (data['SOCSTATUS_PENS_FL'] == 1),
                               'Не указано', data['ORG_TP_FCAPITAL'])

In [12]:
# заменяем пропуски в указанных переменных меткой 'Не указано'
data['JOB_DIR'] = np.where(data['JOB_DIR'].isnull(), 'Не указано', data['JOB_DIR'])
data['REGION_NM'] = np.where(data['REGION_NM'].isnull(), 'Не указано', data['REGION_NM'])

In [13]:
# пропуски в переменной TP_PROVINCE заменим значением переменной FACT_ADDRESS_PROVINCE
data['TP_PROVINCE'] = np.where(data['TP_PROVINCE'].isnull(), data['FACT_ADDRESS_PROVINCE'], data['TP_PROVINCE'])