In [1]:
# импортируем библиотеки numpy и pandas
import numpy as np
import pandas as pd

# импортируем библиотеку datatime для работы с датами
import datetime
from datetime import datetime, date

# задаем некоторые опции библиотеки pandas, которые настраивают вывод
pd.set_option('display.notebook_repr_html', False)     # задаем вывод в виде текста, а не HTML
pd.set_option('display.max_columns', 8)                # устанавливаем отображение максимального количества стобцов
pd.set_option('display.max_rows', 10)                  # устанавливаем отображение максимального количества строк
pd.set_option('display.width', 80)                     # устанавливаеv максимальную ширину отображения в символах

# импортируем библиотеку matplotlib для построения графиков
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
# считываем из файла данные и выводим первые 5 строк
sp500 = pd.read_csv("./sp500.csv",
                   index_col = 'Symbol',     # используем столбец Symbol в качестве индекса
                   usecols = [0, 2, 3, 7])   # и считываем только те столбцы у которых позиции 0, 2, 3, 7
sp500.head()

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

__Переименование столбцов__

In [3]:
# переименовываем столбец Book Value так, что бы удалить пробел с помощью метода .rename()
# програмный код возвращает копию датафрейма с переименованным столбцом
newSP500 = sp500.rename(columns = {'Book Value': 'BookValue'})
newSP500.head(2)

             Sector   Price  BookValue
Symbol
MMM     Industrials  141.14     26.668
ABT     Health Care   39.60     15.573

In [4]:
# проверяем, не изменились ли имена столбцов в исходном DataFrame
sp500.columns

Index(['Sector', 'Price', 'Book Value'], dtype='object')

In [6]:
# чтобы изменить датафрейм на месте без создания копии, можно воспользоваться параметром inplace=True
sp500.rename(columns = 
            {'Book Value': 'BookValue'},
            inplace = True)
sp500.columns

Index(['Sector', 'Price', 'BookValue'], dtype='object')

In [8]:
# чтобы взглянуть на данные в столбце, можно воспользоваться свойством .BookValue
sp500.BookValue[:5]

Symbol
MMM     26.668
ABT     15.573
ABBV     2.954
ACN      8.326
ACE     86.897
Name: BookValue, dtype: float64