In [1]:
# импортируем библиотеки numpy и pandas
import numpy as np
import pandas as pd

# импортируем библиотеку datatime для работы с датами
import datetime
from datetime import datetime, date

# задаем некоторые опции библиотеки pandas, которые настраивают вывод
pd.set_option('display.notebook_repr_html', False)     # задаем вывод в виде текста, а не HTML
pd.set_option('display.max_columns', 8)                # устанавливаем отображение максимального количества стобцов
pd.set_option('display.max_rows', 10)                  # устанавливаем отображение максимального количества строк
pd.set_option('display.width', 80)                     # устанавливаеv максимальную ширину отображения в символах

# импортируем библиотеку matplotlib для построения графиков
import matplotlib.pyplot as plt 
%matplotlib inline

__ПРЕДСТАВЛЕНИЕ ДАТ, ВРЕМЕНИ И ИНТЕРВАЛОВ__

__Объекты datetime, day, time__

In [2]:
# Объект datetime можно инициализировать с помощью трех обязательный параметров: год, месяц, день
# Объект datetime для 15 декабря 2014 г
datetime(2014, 12, 15)

datetime.datetime(2014, 12, 15, 0, 0)

In [3]:
# Добавляем время
datetime(2014, 12, 15, 23, 59)

datetime.datetime(2014, 12, 15, 23, 59)

In [4]:
# текущую дату и время можно определитьс помощью метода .now(), который извлекает местную дату и время
datetime.now()

datetime.datetime(2023, 10, 9, 8, 33, 47, 620310)

In [5]:
# объект datetime.date представляет собой определенный день без компонента времени
datetime.date(datetime(2014, 12, 15))

datetime.date(2014, 12, 15)

In [6]:
# текущаю дату для данного часового пояса, можно извлечь с помощью 
datetime.now().date()

datetime.date(2023, 10, 9)

In [7]:
# объект datetime.time представляет определенное время без компонента даты
datetime.time(datetime (2014, 12, 15, 17, 30))

datetime.time(17, 30)

In [8]:
# получаем текущее местное время
datetime.now().time()

datetime.time(8, 33, 47, 681182)

__Создание временной метки с помощью обекта Timestamp__

In [9]:
# создадим временную метку
pd.Timestamp('2014-12-15')

Timestamp('2014-12-15 00:00:00')

In [10]:
# укажем метку времени
pd.Timestamp('2014-12-15 17:30')

Timestamp('2014-12-15 17:30:00')

In [11]:
# объект Timestamp можно создать задав лишь время, и по умолчанию будет добавлена местная дата
pd.Timestamp('17:30')

Timestamp('2023-10-09 17:30:00')

In [12]:
# поучаем текущую дату и время
pd.Timestamp('now')

Timestamp('2023-10-09 08:33:47.742020')

__Использование объекта Timedelta для представления временного интервала__

In [13]:
# вычисляем дату, которая будет отстоять от даты 2014-11-30 на один день вперед
today = datetime(2014, 11, 30)
tomorrow = today + pd.Timedelta(days = 1)
tomorrow

datetime.datetime(2014, 12, 1, 0, 0)

In [14]:
# вычисляем количество дней между двумя датами
date1 = datetime(1987, 1, 13)
date2 = datetime(2023, 10, 5)
date2 - date1

datetime.timedelta(days=13414)

__ВВЕДЕНИЕ ВО ВРЕМЕННЫЕ РЯДЫ__

__Индексация с помощью объекта DatetimeIndex__

In [15]:
# создаем очень простой временной ряд с двумя индексными метками и случайными значениями
dates = [datetime(2014, 8, 1), datetime(2014, 8, 2)]
ts = pd.Series(np.random.randn(2), dates)
ts

2014-08-01   -1.467320
2014-08-02   -0.272895
dtype: float64

In [16]:
# мы взяли объекты datetime и создали на основе дат объект DatetimeIndex, каждое значение этого индекса является объектом
# Timestamp
# смотрим тип индекса
type(ts.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [17]:
# можно увидеть что это коллекция временных меток
type(ts.index[0])

pandas._libs.tslibs.timestamps.Timestamp

In [18]:
# создаем временной ряд из списка дат, записанных в виде строк!
np.random.seed(123456)
dates = ['2014-08-01', '2014-08-02']
ts = pd.Series(np.random.randn(2), dates)
ts

2014-08-01    0.469112
2014-08-02   -0.282863
dtype: float64

In [19]:
# библиотека Pandas предлагает удобную функцию pd.to_datetime(), она принимает в качестве аргумента последовательность
# одного и того же или смешанного типа, преобразует их в объекты Tamestamp, а те в свою очередь формируют DatetimeIndex
dti = pd.to_datetime(['Aug 1, 2014', '2014-08-02', '2014.8.3', None], errors = 'coerce')
for i in dti: print(i)

2014-08-01 00:00:00
NaT
NaT
NaT

In [20]:
# создаем диапазон дат, начинающийся с определенной даты и включающий определенное количество дней
np.random.seed(123456)
periods = pd.date_range('8/1/2014', periods = 10)
data_series = pd.Series(np.random.randn(10), index = periods)
data_series

2014-08-01    0.469112
2014-08-02   -0.282863
2014-08-03   -1.509059
2014-08-04   -1.135632
2014-08-05    1.212112
2014-08-06   -0.173215
2014-08-07    0.119209
2014-08-08   -1.044236
2014-08-09   -0.861849
2014-08-10   -2.104569
Freq: D, dtype: float64

In [21]:
# создаем срез, используя позиции индекса
subset = data_series[3:7]
subset

2014-08-04   -1.135632
2014-08-05    1.212112
2014-08-06   -0.173215
2014-08-07    0.119209
Freq: D, dtype: float64

In [22]:
# создадим Series с помощью индекса только что полученного среза
s2 = pd.Series([10, 100, 1000, 10000], subset.index)
s2

2014-08-04       10
2014-08-05      100
2014-08-06     1000
2014-08-07    10000
Freq: D, dtype: int64

In [23]:
# демонстрируем выравнивание по дате, сложив вместе date_series и s2
data_series + s2

2014-08-01             NaN
2014-08-02             NaN
2014-08-03             NaN
2014-08-04        8.864368
2014-08-05      101.212112
2014-08-06      999.826785
2014-08-07    10000.119209
2014-08-08             NaN
2014-08-09             NaN
2014-08-10             NaN
Freq: D, dtype: float64

In [24]:
# Находим элемент с помощью строкового представления даты
data_series['2014-08-05']

1.2121120250208506

In [25]:
# создаем срез объекта DatetimeIndex задав диапазон состоящий из строковых представлений дат
data_series['2014-08-05':'2014-08-07']

2014-08-05    1.212112
2014-08-06   -0.173215
2014-08-07    0.119209
Freq: D, dtype: float64

In [26]:
# создаем диапазон дат, охватывающий 2-летний период с ежедневным интервалом и отбираем лишь те даты которые относятся к 2013 г.
s3 = pd.Series(0, pd.date_range('2013-01-01', '2014-12-31'))
s3['2013']

2013-01-01    0
2013-01-02    0
2013-01-03    0
2013-01-04    0
2013-01-05    0
             ..
2013-12-27    0
2013-12-28    0
2013-12-29    0
2013-12-30    0
2013-12-31    0
Freq: D, Length: 365, dtype: int64

In [27]:
# можно отобрать даты, которые относятся к конкретному году и месяцу
s3['2014-05']

2014-05-01    0
2014-05-02    0
2014-05-03    0
2014-05-04    0
2014-05-05    0
             ..
2014-05-27    0
2014-05-28    0
2014-05-29    0
2014-05-30    0
2014-05-31    0
Freq: D, Length: 31, dtype: int64

In [28]:
# этот способ можно использовать при работе со срезами
# извлекаем даты с августа по сентябрь
s3['2014-08':'2014-09']

2014-08-01    0
2014-08-02    0
2014-08-03    0
2014-08-04    0
2014-08-05    0
             ..
2014-09-26    0
2014-09-27    0
2014-09-28    0
2014-09-29    0
2014-09-30    0
Freq: D, Length: 61, dtype: int64

__Создание временного ряда с определенной частотой__

In [29]:
# Частота временного ряда не обязательно должна быть ежедневной. С помощью функции pd.date_range() и параметра freq 
# можно сгенерировать различные частоты. по умолчанию параметр freq имеет значение D, которое означает суточную частоту
np.random.seed(123456)
bymin = pd.Series(np.random.randn(24*60*90),
                  pd.date_range('2014-08-01',
                                '2014-10-29 23:59',
                                freq = 'T'))
bymin[:5]

2014-08-01 00:00:00    0.469112
2014-08-01 00:01:00   -0.282863
2014-08-01 00:02:00   -1.509059
2014-08-01 00:03:00   -1.135632
2014-08-01 00:04:00    1.212112
Freq: T, dtype: float64

In [30]:
# создаем срез с поминутными интервалами
bymin['2014-08-01 00:02':'2014-08-01 00:07']

2014-08-01 00:02:00   -1.509059
2014-08-01 00:03:00   -1.135632
2014-08-01 00:04:00    1.212112
2014-08-01 00:05:00   -0.173215
2014-08-01 00:06:00    0.119209
2014-08-01 00:07:00   -1.044236
Freq: T, dtype: float64

__ВОЗМОЖНЫЕ ЧАСТОТЫ ПАРАМЕТРА freq__

- __B__ - каждый рабочий день
- __С__ - каждый указанный рабочий день
- __D__ - ежедневно (по умолчанию)
- __W__ - еженедельно
- __M__ - каждый последний календарный день месяца
- __BM__ - каждый последний рабочий день месяца
- __CBM__ - каждый указанный последний рабочий день месяца
- __MS__ - каждый первый календарный день месяца
- __BMS__ - каждый первый рабочий день месяца
- __CBMS__ - каждый указанный первый рабочий день месяца
- __Q__ - ежеквартально
- __BQ__ - каждый последний рабочий день квартала
- __QS__ - каждый первый день квартала
- __BQS__ - каждый первый рабочий день квартал
- __A__ - каждый последний день года
- __BA__ - каждый последний рабочий день года
- __AS__ - каждый первый день года
- __BAS__ - каждый первый рабочий день года
- __H__ - ежечасно
- __T__ - ежеминутно
- __S__ - ежесекундно
- __L__ - каждую миллисекунду
- __U__ - каждую микросекунду

In [31]:
# создаем серию, состоящую из рабочий дней 
days = pd.date_range('2014-08-29', '2014-09-05', freq = 'B')
days

DatetimeIndex(['2014-08-29', '2014-09-01', '2014-09-02', '2014-09-03',
               '2014-09-04', '2014-09-05'],
              dtype='datetime64[ns]', freq='B')

In [32]:
# с помощью пареметра periods можно создать диапазон, начинающийся с определенной даты и времени, с определенной частотой 
# и с определенным количеством периодов
pd.date_range('2014-08-01 12:10:01', freq = 'S', periods = 5)

DatetimeIndex(['2014-08-01 12:10:01', '2014-08-01 12:10:02',
               '2014-08-01 12:10:03', '2014-08-01 12:10:04',
               '2014-08-01 12:10:05'],
              dtype='datetime64[ns]', freq='S')

__ВЫЧИСЛЕНИЕ НОВЫХ ДАТ С ПОМОЩЬЮ СМЕЩЕНИЙ__

__Представление временных интервалов с помощью смещений дат__

- __DateOffset__ - календарный день
- __Bday__ - рабочий день
- __Cday__ - указанный рабочий день
- __Week__ - неделя, опционно привязанная ко дню недели
- __WeekOfMonth__ - k-й день m-й недели каждого месяца
- __LastWeekOfMonth__ - k-й день последней недели каждого месяца
- __MonthEnd__ - последний календарный день месяца
- __MonthBegin__ - первый календарный день месяца
- __BMonthEnd__ - последний рабочий день месяца
- __BMonthBegin__ - первый рабочий день месяца
- __CBMonthEnd__ - указанный последний рабочий день месяца
- __CBMonthBegin__ - указанный первый рабочий день месяца
- __QuarterEnd__ - последний календарный день квартала 
- __QuarterBegin__ - первый календарный день квартала
- __BQuarterEnd__ - последний рабочий деньк квартала
- __BQuarterBegit__ - первый рабочий день квартала
- __FYS253Quarter__ - торговый квартал (52-53 недели)
- __YearEnd__ - последний календарный день года
- __YearBegin__ - первый календарный день года
- __BYearEnd__ - последний рабочий день года
- __DYearBegin__ - первый рабочий день года
- __FYS253__ - Торговый год (52-53 недели)
- __Hour__ - час
- __Minute__ - минута 
- __Second__ - секунда 
- __Milli__ - миллисекунда 
- __Micro__ - микросекунда

In [33]:
# извлекаем все рабочие дни в промежутке между двумя датами, включая эти даты
dti = pd.date_range('2014-08-29', '2014-09-05', freq = 'B')
dti.values

array(['2014-08-29T00:00:00.000000000', '2014-09-01T00:00:00.000000000',
       '2014-09-02T00:00:00.000000000', '2014-09-03T00:00:00.000000000',
       '2014-09-04T00:00:00.000000000', '2014-09-05T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [34]:
# убеждаемся, что частотой является рабочий день
dti.freq

In [35]:
# выичсляем однодневное смещение для 2014-08-29
d = datetime(2014, 8, 29)
do = pd.DateOffset(days = 1)
d + do

Timestamp('2014-08-30 00:00:00')

In [36]:
# вычисляем дату отсточщую от заданной на один день рабочий день вперед:
# импортируем типы смещений дат
from pandas.tseries.offsets import *
d + BusinessDay()

Timestamp('2014-09-01 00:00:00')

In [37]:
# сдвиг сразу на несколько единиц частоты можно выполнить с помощью умножения
d + 2 * BusinessDay()

Timestamp('2014-09-02 00:00:00')

In [38]:
# вычисляем последний рабочий день месяца, следующий после 2014-09-02
d + BMonthEnd()

Timestamp('2014-09-30 00:00:00')

In [39]:
# вычисляем последний рабочий день месяца, следующий после 2014-09-15 с использованием метода .rollforward()
BMonthEnd().rollforward(datetime(2014, 9, 15))

Timestamp('2014-09-30 00:00:00')

In [40]:
# вычисляем дату вторника, предшествующую заданной дате
d - Week(weekday = 1)

Timestamp('2014-08-26 00:00:00')

__Привязанные смещения__

__Привязанные смеещения__ - это определенные частоты , которые начинаются с определенного момента времени, например с определенного дня недели, месяца или года

- __W-SUN__ - еженедельно в воскресенье
- __W-MON__ - еженедельно в понедельник
- __W-TUE__ - еженедельно во вторник
- __W-WED__ - еженедельно в среду
- __W-THU__ - еженедельно в четверг
- __W-FRI__ - еженедельно в пятницу
- __W-SAT__ - еженедельно в субботу

In [41]:
# вычисляем все среды в промежутке между указанными датами
wednesdays = pd.date_range('2014-06-01', '2014-07-31', freq = 'W-WED')
wednesdays.values

array(['2014-06-04T00:00:00.000000000', '2014-06-11T00:00:00.000000000',
       '2014-06-18T00:00:00.000000000', '2014-06-25T00:00:00.000000000',
       '2014-07-02T00:00:00.000000000', '2014-07-09T00:00:00.000000000',
       '2014-07-16T00:00:00.000000000', '2014-07-23T00:00:00.000000000',
       '2014-07-30T00:00:00.000000000'], dtype='datetime64[ns]')

Привязанные смещения можно создать с помощью ежегодных и ежеквартальных частот. Эти частоты имеют вид [B] [A] [Q] [S] - [MON]
- __[B]__ - рабочие дни
- __[A]__ - частота ежегодно
- __[Q]__ - частота ежеквартально
- __[S]__ - начало периода вместо конца
- __[MON]__ - аббревиатура месяца

In [42]:
# вычисляем первый рабочий день последнего месяца в каждом квартале
qends = pd.date_range('2014-01-01', '2014-12-31', freq = 'BQS-JUN')
qends.values

array(['2014-03-03T00:00:00.000000000', '2014-06-02T00:00:00.000000000',
       '2014-09-01T00:00:00.000000000', '2014-12-01T00:00:00.000000000'],
      dtype='datetime64[ns]')

__ПРЕДСТАВЛЕНИЕ ПРОМЕЖУТКОВ ВРЕМЕНИ С ПОМОЩЬЮ ОБЪЕКТОВ PERIOD__

__Создание временного интервала с помощью объекта Period__

In [44]:
# объект Period позволяет задать промежутки времени исходя из различных частот (ежедневной, еженедельной, ежемесячной,
# ежеквартальной, ежегодной и т.д.). При этом он будет включать в себя начальную и конечную временные метки, 
# задающие определенный интервал
# создаем период - один месяц, начинающийся в август 2014
aug2014 = pd.Period('2014-08', freq = 'M')
aug2014

Period('2014-08', 'M')

In [45]:
# свойства start_time и end_time сообщают нам о начальной и конечной временных метках
# смотрим начальную и конечную даты этого периода
aug2014.start_time, aug2014.end_time

(Timestamp('2014-08-01 00:00:00'), Timestamp('2014-08-31 23:59:59.999999999'))

In [46]:
# вычисляем период, прибавив к периоду aug2014 единицу частоты (один месяц)
sep2014 = aug2014 + 1
sep2014

Period('2014-09', 'M')

In [47]:
sep2014.start_time, sep2014.end_time

(Timestamp('2014-09-01 00:00:00'), Timestamp('2014-09-30 23:59:59.999999999'))

__Индексация с помощью объекта PeriodIndex__

In [48]:
# серию объектов Period можно объеденить в специальный тип индекса, известный как PeriodIndex. Такой индекс применяется
# в том случае, когда данные необходимо связать с определенными временными интервалами, создать срезы и проанализировать
# события в каждом интервале
# создаем объект PeriodIndex, состоящий из 1-месячных интервалов 2013 года
mp2013 = pd.period_range('1/1/2013', '12/31/2013', freq = 'M')
mp2013

PeriodIndex(['2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06',
             '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12'],
            dtype='period[M]')

In [49]:
# PeriodIndex отличается от DatetimeIndex тем, что индексные метки являются объектами Period
# пробегаем по всем объектам Period в индексе печатая начальную и конечную даты для всех объектов Period в индексе
for p in mp2013:
    print('{0} {1}'.format(p.start_time, p.end_time))

2013-01-01 00:00:00 2013-01-31 23:59:59.999999999
2013-02-01 00:00:00 2013-02-28 23:59:59.999999999
2013-03-01 00:00:00 2013-03-31 23:59:59.999999999
2013-04-01 00:00:00 2013-04-30 23:59:59.999999999
2013-05-01 00:00:00 2013-05-31 23:59:59.999999999
2013-06-01 00:00:00 2013-06-30 23:59:59.999999999
2013-07-01 00:00:00 2013-07-31 23:59:59.999999999
2013-08-01 00:00:00 2013-08-31 23:59:59.999999999
2013-09-01 00:00:00 2013-09-30 23:59:59.999999999
2013-10-01 00:00:00 2013-10-31 23:59:59.999999999
2013-11-01 00:00:00 2013-11-30 23:59:59.999999999
2013-12-01 00:00:00 2013-12-31 23:59:59.999999999

In [50]:
# создаем объект Series, у которого индексом будет PeriodIndex
np.random.seed(123456)
ps = pd.Series(np.random.randn(12), mp2013)
ps[:5]

2013-01    0.469112
2013-02   -0.282863
2013-03   -1.509059
2013-04   -1.135632
2013-05    1.212112
Freq: M, dtype: float64

In [52]:
# создаем объект Series с индексом PeriodIndex, который представляет собой все календарные месяцы периоды 2013 и 2014 годов
np.random.seed(123456)
ps = pd.Series(np.random.randn(24),
               pd.period_range('1/1/2013', '12/31/2014', freq = 'M'))
ps

2013-01    0.469112
2013-02   -0.282863
2013-03   -1.509059
2013-04   -1.135632
2013-05    1.212112
             ...
2014-08   -1.087401
2014-09   -0.673690
2014-10    0.113648
2014-11   -1.478427
2014-12    0.524988
Freq: M, Length: 24, dtype: float64

In [53]:
# извлекаем значение, соответствующее периоду 2014-06
ps['2014-06']

0.567020349793672

In [54]:
# извлекаем значения для всех периодов в 2014 году
ps['2014']

2014-01    0.721555
2014-02   -0.706771
2014-03   -1.039575
2014-04    0.271860
2014-05   -0.424972
             ...
2014-08   -1.087401
2014-09   -0.673690
2014-10    0.113648
2014-11   -1.478427
2014-12    0.524988
Freq: M, Length: 12, dtype: float64

In [55]:
# извлекаем все значения, соответствующие периоду с марта по июнь 2014 года с помощью среза
ps['2014-03':'2014-06']

2014-03   -1.039575
2014-04    0.271860
2014-05   -0.424972
2014-06    0.567020
Freq: M, dtype: float64

__НОРМАЛИЗАЦИЯ ВРЕМЕННЫХ МЕТОК С ПОМОЩЬЮ ЧАСОВЫХ ПОЯСОВ__

In [58]:
# Pandas использует библиотеку pytz и dateutil для работы с часовыми поясами
# извлекаем текущее местное время и демонстрируем что по умолчанию информация о часовом поясе отсутствует
now = pd.Timestamp('now')
now, now.tz is None

(Timestamp('2023-10-09 09:56:29.478068'), True)