In [1]:
# импортируем библиотеки numpy и pandas
import numpy as np
import pandas as pd

# импортируем библиотеку datatime для работы с датами
import datetime
from datetime import datetime, date

# задаем некоторые опции библиотеки pandas, которые настраивают вывод
pd.set_option('display.notebook_repr_html', False)     # задаем вывод в виде текста, а не HTML
pd.set_option('display.max_columns', 8)                # устанавливаем отображение максимального количества стобцов
pd.set_option('display.max_rows', 10)                  # устанавливаем отображение максимального количества строк
pd.set_option('display.width', 80)                     # устанавливаеv максимальную ширину отображения в символах

# импортируем библиотеку matplotlib для построения графиков
import matplotlib.pyplot as plt 
%matplotlib inline

__ПРЕДСТАВЛЕНИЕ ДАТ, ВРЕМЕНИ И ИНТЕРВАЛОВ__

__Объекты datetime, day, time__

In [2]:
# Объект datetime можно инициализировать с помощью трех обязательный параметров: год, месяц, день
# Объект datetime для 15 декабря 2014 г
datetime(2014, 12, 15)

datetime.datetime(2014, 12, 15, 0, 0)

In [3]:
# Добавляем время
datetime(2014, 12, 15, 23, 59)

datetime.datetime(2014, 12, 15, 23, 59)

In [4]:
# текущую дату и время можно определитьс помощью метода .now(), который извлекает местную дату и время
datetime.now()

datetime.datetime(2023, 10, 9, 20, 35, 46, 120871)

In [5]:
# объект datetime.date представляет собой определенный день без компонента времени
datetime.date(datetime(2014, 12, 15))

datetime.date(2014, 12, 15)

In [6]:
# текущаю дату для данного часового пояса, можно извлечь с помощью 
datetime.now().date()

datetime.date(2023, 10, 9)

In [7]:
# объект datetime.time представляет определенное время без компонента даты
datetime.time(datetime (2014, 12, 15, 17, 30))

datetime.time(17, 30)

In [8]:
# получаем текущее местное время
datetime.now().time()

datetime.time(20, 35, 46, 185210)

__Создание временной метки с помощью обекта Timestamp__

In [9]:
# создадим временную метку
pd.Timestamp('2014-12-15')

Timestamp('2014-12-15 00:00:00')

In [10]:
# укажем метку времени
pd.Timestamp('2014-12-15 17:30')

Timestamp('2014-12-15 17:30:00')

In [11]:
# объект Timestamp можно создать задав лишь время, и по умолчанию будет добавлена местная дата
pd.Timestamp('17:30')

Timestamp('2023-10-09 17:30:00')

In [12]:
# поучаем текущую дату и время
pd.Timestamp('now')

Timestamp('2023-10-09 20:35:46.245133')

__Использование объекта Timedelta для представления временного интервала__

In [13]:
# вычисляем дату, которая будет отстоять от даты 2014-11-30 на один день вперед
today = datetime(2014, 11, 30)
tomorrow = today + pd.Timedelta(days = 1)
tomorrow

datetime.datetime(2014, 12, 1, 0, 0)

In [14]:
# вычисляем количество дней между двумя датами
date1 = datetime(1987, 1, 13)
date2 = datetime(2023, 10, 5)
date2 - date1

datetime.timedelta(days=13414)

__ВВЕДЕНИЕ ВО ВРЕМЕННЫЕ РЯДЫ__

__Индексация с помощью объекта DatetimeIndex__

In [15]:
# создаем очень простой временной ряд с двумя индексными метками и случайными значениями
dates = [datetime(2014, 8, 1), datetime(2014, 8, 2)]
ts = pd.Series(np.random.randn(2), dates)
ts

2014-08-01   -0.672887
2014-08-02   -0.717432
dtype: float64

In [16]:
# мы взяли объекты datetime и создали на основе дат объект DatetimeIndex, каждое значение этого индекса является объектом
# Timestamp
# смотрим тип индекса
type(ts.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [17]:
# можно увидеть что это коллекция временных меток
type(ts.index[0])

pandas._libs.tslibs.timestamps.Timestamp

In [18]:
# создаем временной ряд из списка дат, записанных в виде строк!
np.random.seed(123456)
dates = ['2014-08-01', '2014-08-02']
ts = pd.Series(np.random.randn(2), dates)
ts

2014-08-01    0.469112
2014-08-02   -0.282863
dtype: float64

In [19]:
# библиотека Pandas предлагает удобную функцию pd.to_datetime(), она принимает в качестве аргумента последовательность
# одного и того же или смешанного типа, преобразует их в объекты Tamestamp, а те в свою очередь формируют DatetimeIndex
dti = pd.to_datetime(['Aug 1, 2014', '2014-08-02', '2014.8.3', None], errors = 'coerce')
for i in dti: print(i)

2014-08-01 00:00:00
NaT
NaT
NaT

In [20]:
# создаем диапазон дат, начинающийся с определенной даты и включающий определенное количество дней
np.random.seed(123456)
periods = pd.date_range('8/1/2014', periods = 10)
data_series = pd.Series(np.random.randn(10), index = periods)
data_series

2014-08-01    0.469112
2014-08-02   -0.282863
2014-08-03   -1.509059
2014-08-04   -1.135632
2014-08-05    1.212112
2014-08-06   -0.173215
2014-08-07    0.119209
2014-08-08   -1.044236
2014-08-09   -0.861849
2014-08-10   -2.104569
Freq: D, dtype: float64

In [21]:
# создаем срез, используя позиции индекса
subset = data_series[3:7]
subset

2014-08-04   -1.135632
2014-08-05    1.212112
2014-08-06   -0.173215
2014-08-07    0.119209
Freq: D, dtype: float64

In [22]:
# создадим Series с помощью индекса только что полученного среза
s2 = pd.Series([10, 100, 1000, 10000], subset.index)
s2

2014-08-04       10
2014-08-05      100
2014-08-06     1000
2014-08-07    10000
Freq: D, dtype: int64

In [23]:
# демонстрируем выравнивание по дате, сложив вместе date_series и s2
data_series + s2

2014-08-01             NaN
2014-08-02             NaN
2014-08-03             NaN
2014-08-04        8.864368
2014-08-05      101.212112
2014-08-06      999.826785
2014-08-07    10000.119209
2014-08-08             NaN
2014-08-09             NaN
2014-08-10             NaN
Freq: D, dtype: float64

In [24]:
# Находим элемент с помощью строкового представления даты
data_series['2014-08-05']

1.2121120250208506

In [25]:
# создаем срез объекта DatetimeIndex задав диапазон состоящий из строковых представлений дат
data_series['2014-08-05':'2014-08-07']

2014-08-05    1.212112
2014-08-06   -0.173215
2014-08-07    0.119209
Freq: D, dtype: float64

In [26]:
# создаем диапазон дат, охватывающий 2-летний период с ежедневным интервалом и отбираем лишь те даты которые относятся к 2013 г.
s3 = pd.Series(0, pd.date_range('2013-01-01', '2014-12-31'))
s3['2013']

2013-01-01    0
2013-01-02    0
2013-01-03    0
2013-01-04    0
2013-01-05    0
             ..
2013-12-27    0
2013-12-28    0
2013-12-29    0
2013-12-30    0
2013-12-31    0
Freq: D, Length: 365, dtype: int64

In [27]:
# можно отобрать даты, которые относятся к конкретному году и месяцу
s3['2014-05']

2014-05-01    0
2014-05-02    0
2014-05-03    0
2014-05-04    0
2014-05-05    0
             ..
2014-05-27    0
2014-05-28    0
2014-05-29    0
2014-05-30    0
2014-05-31    0
Freq: D, Length: 31, dtype: int64

In [28]:
# этот способ можно использовать при работе со срезами
# извлекаем даты с августа по сентябрь
s3['2014-08':'2014-09']

2014-08-01    0
2014-08-02    0
2014-08-03    0
2014-08-04    0
2014-08-05    0
             ..
2014-09-26    0
2014-09-27    0
2014-09-28    0
2014-09-29    0
2014-09-30    0
Freq: D, Length: 61, dtype: int64

__Создание временного ряда с определенной частотой__

In [29]:
# Частота временного ряда не обязательно должна быть ежедневной. С помощью функции pd.date_range() и параметра freq 
# можно сгенерировать различные частоты. по умолчанию параметр freq имеет значение D, которое означает суточную частоту
np.random.seed(123456)
bymin = pd.Series(np.random.randn(24*60*90),
                  pd.date_range('2014-08-01',
                                '2014-10-29 23:59',
                                freq = 'T'))
bymin[:5]

2014-08-01 00:00:00    0.469112
2014-08-01 00:01:00   -0.282863
2014-08-01 00:02:00   -1.509059
2014-08-01 00:03:00   -1.135632
2014-08-01 00:04:00    1.212112
Freq: T, dtype: float64

In [30]:
# создаем срез с поминутными интервалами
bymin['2014-08-01 00:02':'2014-08-01 00:07']

2014-08-01 00:02:00   -1.509059
2014-08-01 00:03:00   -1.135632
2014-08-01 00:04:00    1.212112
2014-08-01 00:05:00   -0.173215
2014-08-01 00:06:00    0.119209
2014-08-01 00:07:00   -1.044236
Freq: T, dtype: float64

__ВОЗМОЖНЫЕ ЧАСТОТЫ ПАРАМЕТРА freq__

- __B__ - каждый рабочий день
- __С__ - каждый указанный рабочий день
- __D__ - ежедневно (по умолчанию)
- __W__ - еженедельно
- __M__ - каждый последний календарный день месяца
- __BM__ - каждый последний рабочий день месяца
- __CBM__ - каждый указанный последний рабочий день месяца
- __MS__ - каждый первый календарный день месяца
- __BMS__ - каждый первый рабочий день месяца
- __CBMS__ - каждый указанный первый рабочий день месяца
- __Q__ - ежеквартально
- __BQ__ - каждый последний рабочий день квартала
- __QS__ - каждый первый день квартала
- __BQS__ - каждый первый рабочий день квартал
- __A__ - каждый последний день года
- __BA__ - каждый последний рабочий день года
- __AS__ - каждый первый день года
- __BAS__ - каждый первый рабочий день года
- __H__ - ежечасно
- __T__ - ежеминутно
- __S__ - ежесекундно
- __L__ - каждую миллисекунду
- __U__ - каждую микросекунду

In [31]:
# создаем серию, состоящую из рабочий дней 
days = pd.date_range('2014-08-29', '2014-09-05', freq = 'B')
days

DatetimeIndex(['2014-08-29', '2014-09-01', '2014-09-02', '2014-09-03',
               '2014-09-04', '2014-09-05'],
              dtype='datetime64[ns]', freq='B')

In [32]:
# с помощью пареметра periods можно создать диапазон, начинающийся с определенной даты и времени, с определенной частотой 
# и с определенным количеством периодов
pd.date_range('2014-08-01 12:10:01', freq = 'S', periods = 5)

DatetimeIndex(['2014-08-01 12:10:01', '2014-08-01 12:10:02',
               '2014-08-01 12:10:03', '2014-08-01 12:10:04',
               '2014-08-01 12:10:05'],
              dtype='datetime64[ns]', freq='S')

__ВЫЧИСЛЕНИЕ НОВЫХ ДАТ С ПОМОЩЬЮ СМЕЩЕНИЙ__

__Представление временных интервалов с помощью смещений дат__

- __DateOffset__ - календарный день
- __Bday__ - рабочий день
- __Cday__ - указанный рабочий день
- __Week__ - неделя, опционно привязанная ко дню недели
- __WeekOfMonth__ - k-й день m-й недели каждого месяца
- __LastWeekOfMonth__ - k-й день последней недели каждого месяца
- __MonthEnd__ - последний календарный день месяца
- __MonthBegin__ - первый календарный день месяца
- __BMonthEnd__ - последний рабочий день месяца
- __BMonthBegin__ - первый рабочий день месяца
- __CBMonthEnd__ - указанный последний рабочий день месяца
- __CBMonthBegin__ - указанный первый рабочий день месяца
- __QuarterEnd__ - последний календарный день квартала 
- __QuarterBegin__ - первый календарный день квартала
- __BQuarterEnd__ - последний рабочий деньк квартала
- __BQuarterBegit__ - первый рабочий день квартала
- __FYS253Quarter__ - торговый квартал (52-53 недели)
- __YearEnd__ - последний календарный день года
- __YearBegin__ - первый календарный день года
- __BYearEnd__ - последний рабочий день года
- __DYearBegin__ - первый рабочий день года
- __FYS253__ - Торговый год (52-53 недели)
- __Hour__ - час
- __Minute__ - минута 
- __Second__ - секунда 
- __Milli__ - миллисекунда 
- __Micro__ - микросекунда

In [33]:
# извлекаем все рабочие дни в промежутке между двумя датами, включая эти даты
dti = pd.date_range('2014-08-29', '2014-09-05', freq = 'B')
dti.values

array(['2014-08-29T00:00:00.000000000', '2014-09-01T00:00:00.000000000',
       '2014-09-02T00:00:00.000000000', '2014-09-03T00:00:00.000000000',
       '2014-09-04T00:00:00.000000000', '2014-09-05T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [34]:
# убеждаемся, что частотой является рабочий день
dti.freq

In [35]:
# выичсляем однодневное смещение для 2014-08-29
d = datetime(2014, 8, 29)
do = pd.DateOffset(days = 1)
d + do

Timestamp('2014-08-30 00:00:00')

In [36]:
# вычисляем дату отсточщую от заданной на один день рабочий день вперед:
# импортируем типы смещений дат
from pandas.tseries.offsets import *
d + BusinessDay()

Timestamp('2014-09-01 00:00:00')

In [37]:
# сдвиг сразу на несколько единиц частоты можно выполнить с помощью умножения
d + 2 * BusinessDay()

Timestamp('2014-09-02 00:00:00')

In [38]:
# вычисляем последний рабочий день месяца, следующий после 2014-09-02
d + BMonthEnd()

Timestamp('2014-09-30 00:00:00')

In [39]:
# вычисляем последний рабочий день месяца, следующий после 2014-09-15 с использованием метода .rollforward()
BMonthEnd().rollforward(datetime(2014, 9, 15))

Timestamp('2014-09-30 00:00:00')

In [40]:
# вычисляем дату вторника, предшествующую заданной дате
d - Week(weekday = 1)

Timestamp('2014-08-26 00:00:00')

__Привязанные смещения__

__Привязанные смеещения__ - это определенные частоты , которые начинаются с определенного момента времени, например с определенного дня недели, месяца или года

- __W-SUN__ - еженедельно в воскресенье
- __W-MON__ - еженедельно в понедельник
- __W-TUE__ - еженедельно во вторник
- __W-WED__ - еженедельно в среду
- __W-THU__ - еженедельно в четверг
- __W-FRI__ - еженедельно в пятницу
- __W-SAT__ - еженедельно в субботу

In [41]:
# вычисляем все среды в промежутке между указанными датами
wednesdays = pd.date_range('2014-06-01', '2014-07-31', freq = 'W-WED')
wednesdays.values

array(['2014-06-04T00:00:00.000000000', '2014-06-11T00:00:00.000000000',
       '2014-06-18T00:00:00.000000000', '2014-06-25T00:00:00.000000000',
       '2014-07-02T00:00:00.000000000', '2014-07-09T00:00:00.000000000',
       '2014-07-16T00:00:00.000000000', '2014-07-23T00:00:00.000000000',
       '2014-07-30T00:00:00.000000000'], dtype='datetime64[ns]')

Привязанные смещения можно создать с помощью ежегодных и ежеквартальных частот. Эти частоты имеют вид [B] [A] [Q] [S] - [MON]
- __[B]__ - рабочие дни
- __[A]__ - частота ежегодно
- __[Q]__ - частота ежеквартально
- __[S]__ - начало периода вместо конца
- __[MON]__ - аббревиатура месяца

In [42]:
# вычисляем первый рабочий день последнего месяца в каждом квартале
qends = pd.date_range('2014-01-01', '2014-12-31', freq = 'BQS-JUN')
qends.values

array(['2014-03-03T00:00:00.000000000', '2014-06-02T00:00:00.000000000',
       '2014-09-01T00:00:00.000000000', '2014-12-01T00:00:00.000000000'],
      dtype='datetime64[ns]')

__ПРЕДСТАВЛЕНИЕ ПРОМЕЖУТКОВ ВРЕМЕНИ С ПОМОЩЬЮ ОБЪЕКТОВ PERIOD__

__Создание временного интервала с помощью объекта Period__

In [43]:
# объект Period позволяет задать промежутки времени исходя из различных частот (ежедневной, еженедельной, ежемесячной,
# ежеквартальной, ежегодной и т.д.). При этом он будет включать в себя начальную и конечную временные метки, 
# задающие определенный интервал
# создаем период - один месяц, начинающийся в август 2014
aug2014 = pd.Period('2014-08', freq = 'M')
aug2014

Period('2014-08', 'M')

In [44]:
# свойства start_time и end_time сообщают нам о начальной и конечной временных метках
# смотрим начальную и конечную даты этого периода
aug2014.start_time, aug2014.end_time

(Timestamp('2014-08-01 00:00:00'), Timestamp('2014-08-31 23:59:59.999999999'))

In [45]:
# вычисляем период, прибавив к периоду aug2014 единицу частоты (один месяц)
sep2014 = aug2014 + 1
sep2014

Period('2014-09', 'M')

In [46]:
sep2014.start_time, sep2014.end_time

(Timestamp('2014-09-01 00:00:00'), Timestamp('2014-09-30 23:59:59.999999999'))

__Индексация с помощью объекта PeriodIndex__

In [47]:
# серию объектов Period можно объеденить в специальный тип индекса, известный как PeriodIndex. Такой индекс применяется
# в том случае, когда данные необходимо связать с определенными временными интервалами, создать срезы и проанализировать
# события в каждом интервале
# создаем объект PeriodIndex, состоящий из 1-месячных интервалов 2013 года
mp2013 = pd.period_range('1/1/2013', '12/31/2013', freq = 'M')
mp2013

PeriodIndex(['2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06',
             '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12'],
            dtype='period[M]')

In [48]:
# PeriodIndex отличается от DatetimeIndex тем, что индексные метки являются объектами Period
# пробегаем по всем объектам Period в индексе печатая начальную и конечную даты для всех объектов Period в индексе
for p in mp2013:
    print('{0} {1}'.format(p.start_time, p.end_time))

2013-01-01 00:00:00 2013-01-31 23:59:59.999999999
2013-02-01 00:00:00 2013-02-28 23:59:59.999999999
2013-03-01 00:00:00 2013-03-31 23:59:59.999999999
2013-04-01 00:00:00 2013-04-30 23:59:59.999999999
2013-05-01 00:00:00 2013-05-31 23:59:59.999999999
2013-06-01 00:00:00 2013-06-30 23:59:59.999999999
2013-07-01 00:00:00 2013-07-31 23:59:59.999999999
2013-08-01 00:00:00 2013-08-31 23:59:59.999999999
2013-09-01 00:00:00 2013-09-30 23:59:59.999999999
2013-10-01 00:00:00 2013-10-31 23:59:59.999999999
2013-11-01 00:00:00 2013-11-30 23:59:59.999999999
2013-12-01 00:00:00 2013-12-31 23:59:59.999999999

In [49]:
# создаем объект Series, у которого индексом будет PeriodIndex
np.random.seed(123456)
ps = pd.Series(np.random.randn(12), mp2013)
ps[:5]

2013-01    0.469112
2013-02   -0.282863
2013-03   -1.509059
2013-04   -1.135632
2013-05    1.212112
Freq: M, dtype: float64

In [50]:
# создаем объект Series с индексом PeriodIndex, который представляет собой все календарные месяцы периоды 2013 и 2014 годов
np.random.seed(123456)
ps = pd.Series(np.random.randn(24),
               pd.period_range('1/1/2013', '12/31/2014', freq = 'M'))
ps

2013-01    0.469112
2013-02   -0.282863
2013-03   -1.509059
2013-04   -1.135632
2013-05    1.212112
             ...
2014-08   -1.087401
2014-09   -0.673690
2014-10    0.113648
2014-11   -1.478427
2014-12    0.524988
Freq: M, Length: 24, dtype: float64

In [51]:
# извлекаем значение, соответствующее периоду 2014-06
ps['2014-06']

0.567020349793672

In [52]:
# извлекаем значения для всех периодов в 2014 году
ps['2014']

2014-01    0.721555
2014-02   -0.706771
2014-03   -1.039575
2014-04    0.271860
2014-05   -0.424972
             ...
2014-08   -1.087401
2014-09   -0.673690
2014-10    0.113648
2014-11   -1.478427
2014-12    0.524988
Freq: M, Length: 12, dtype: float64

In [53]:
# извлекаем все значения, соответствующие периоду с марта по июнь 2014 года с помощью среза
ps['2014-03':'2014-06']

2014-03   -1.039575
2014-04    0.271860
2014-05   -0.424972
2014-06    0.567020
Freq: M, dtype: float64

__НОРМАЛИЗАЦИЯ ВРЕМЕННЫХ МЕТОК С ПОМОЩЬЮ ЧАСОВЫХ ПОЯСОВ__

In [63]:
# Pandas использует библиотеку pytz и dateutil для работы с часовыми поясами
# извлекаем текущее местное время и демонстрируем что по умолчанию информация о часовом поясе отсутствует
now = pd.Timestamp('now')
now, now.tz is None

(Timestamp('2023-10-09 20:46:02.708034'), True)

In [58]:
# по умолчанию DatetimeIndex и его объекты Timestamps не содержат информацию о часовом поясе
rng = pd.date_range('3/6/2012 00:00', periods = 15, freq = 'D')
rng.tz is None, rng[0].tz is None

(True, True)

In [60]:
# импортируем стандартные часовые пояса из библиотеки pytz
from pytz import common_timezones
common_timezones[:10]

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre']

In [64]:
# Местное UTC-время можно вычислить, воспользовавшись методом .tz_localize() объекта Timestamp и передав ему значение UTC
now = pd.Timestamp('now')
local_now = now.tz_localize('UTC')
now, local_now

(Timestamp('2023-10-09 20:46:24.198020'),
 Timestamp('2023-10-09 20:46:24.198020+0000', tz='UTC'))

In [67]:
# любой объект Timestamp можно преобразовать в определенный часовой пояс, передав название часового пояса 
# в метод .tz_localize()
tstamp = pd.Timestamp('2014-08-01 12:00:00', tz = 'US/Mountain')
tstamp

Timestamp('2014-08-01 12:00:00-0600', tz='US/Mountain')

In [69]:
# с помощью параметра tz функции pd.date_range() можно создать индекс DatetimeIndex с определенным часовым поясом
rgn = pd.date_range('3/6/2012 00:00:00', periods = 10, freq = 'D', tz = 'US/Mountain')
rgn.tz, rng[0].tz

(<DstTzInfo 'US/Mountain' LMT-1 day, 17:00:00 STD>, None)

In [70]:
# импортируем библиотеку pytz
import pytz
# сосдаем два часовых пояса
mountain_tz = pytz.timezone('US/Mountain')
eastern_tz = pytz.timezone('US/Eastern')
# применяем оба к временной метке now 
mountain_tz.localize(now), eastern_tz.localize(now)

(Timestamp('2023-10-09 20:46:24.198020-0600', tz='US/Mountain'),
 Timestamp('2023-10-09 20:46:24.198020-0400', tz='US/Eastern'))

In [71]:
# создаем два объекта Series с одинаковой начальной датой, одинаковым количеством периодов, одинаковой частотой, но
# но с разными часовыми поясами
s_mountain = pd.Series(np.arange(0, 5), index = pd.date_range('2014-08-01', periods = 5, freq = 'h', tz = 'US/Mountain'))
s_eastern = pd.Series(np.arange(0,5), index = pd.date_range('2014-08-01', periods = 5, freq = 'h', tz = 'US/Eastern'))

In [72]:
s_mountain

2014-08-01 00:00:00-06:00    0
2014-08-01 01:00:00-06:00    1
2014-08-01 02:00:00-06:00    2
2014-08-01 03:00:00-06:00    3
2014-08-01 04:00:00-06:00    4
Freq: H, dtype: int32

In [73]:
s_eastern

2014-08-01 00:00:00-04:00    0
2014-08-01 01:00:00-04:00    1
2014-08-01 02:00:00-04:00    2
2014-08-01 03:00:00-04:00    3
2014-08-01 04:00:00-04:00    4
Freq: H, dtype: int32

In [74]:
# следующий программный код демонстрирует выравнивание этих двух объектов Series по часовому поясу сложив их вместе
s_eastern + s_mountain

2014-08-01 04:00:00+00:00    NaN
2014-08-01 05:00:00+00:00    NaN
2014-08-01 06:00:00+00:00    2.0
2014-08-01 07:00:00+00:00    4.0
2014-08-01 08:00:00+00:00    6.0
2014-08-01 09:00:00+00:00    NaN
2014-08-01 10:00:00+00:00    NaN
Freq: H, dtype: float64

In [75]:
# преобразовать часовой пояс в другой можно с помощью метода .tz.convert()
# меняем часовой пояс с US/Eastern на US/Pacific 
s_pacific = s_eastern.tz_convert('US/Pacific')
s_pacific

2014-07-31 21:00:00-07:00    0
2014-07-31 22:00:00-07:00    1
2014-07-31 23:00:00-07:00    2
2014-08-01 00:00:00-07:00    3
2014-08-01 01:00:00-07:00    4
Freq: H, dtype: int32

In [76]:
s_mountain + s_pacific

2014-08-01 04:00:00+00:00    NaN
2014-08-01 05:00:00+00:00    NaN
2014-08-01 06:00:00+00:00    2.0
2014-08-01 07:00:00+00:00    4.0
2014-08-01 08:00:00+00:00    6.0
2014-08-01 09:00:00+00:00    NaN
2014-08-01 10:00:00+00:00    NaN
Freq: H, dtype: float64

__ОПЕРАЦИИ С ВРЕМЕННЫМИ РЯДАМИ__

__Опережение и опаздывание__

In [78]:
# метод shift сдвигает значения серии или датафрейма на указанное количество единиц частоты в индексе
# создаем объект Series с которым будем работать
np.random.seed(123456)
ts = pd.Series([1, 2, 2.5, 1.5, 0.5], pd.date_range('2014-08-01', periods = 5))
ts

2014-08-01    1.0
2014-08-02    2.0
2014-08-03    2.5
2014-08-04    1.5
2014-08-05    0.5
Freq: D, dtype: float64

In [79]:
# сдвигаем значения на 1 день вперед
ts.shift(1)

2014-08-01    NaN
2014-08-02    1.0
2014-08-03    2.0
2014-08-04    2.5
2014-08-05    1.5
Freq: D, dtype: float64

In [80]:
# сдвигаем значения на 2 дня назад
ts.shift(-2)

2014-08-01    2.5
2014-08-02    1.5
2014-08-03    0.5
2014-08-04    NaN
2014-08-05    NaN
Freq: D, dtype: float64

In [81]:
# Распространенная операция применяемая с помощью сдвига, заключается в вычислении ежедневного процентного изменения какого-то 
# финансового показателя. Эту операцию можно выполнить, поделив значения объекта Series на этиже значения, только сдвинутые на 1
ts / ts.shift(1)

2014-08-01         NaN
2014-08-02    2.000000
2014-08-03    1.250000
2014-08-04    0.600000
2014-08-05    0.333333
Freq: D, dtype: float64

In [82]:
# Можно сдвинуть не значения, а сами метки
# Сдвигаем вперед на один день
ts.shift(1, freq = 'B')

2014-08-04    1.0
2014-08-04    2.0
2014-08-04    2.5
2014-08-05    1.5
2014-08-06    0.5
dtype: float64

In [84]:
# сдвигаем на 5 часов вперед
ts.shift(5, freq = 'H')

2014-08-01 05:00:00    1.0
2014-08-02 05:00:00    2.0
2014-08-03 05:00:00    2.5
2014-08-04 05:00:00    1.5
2014-08-05 05:00:00    0.5
Freq: D, dtype: float64

In [85]:
# Свигаем с помощью объекта DateOffset
ts.shift(1, DateOffset(minutes = 0.5))

2014-08-01 00:00:30    1.0
2014-08-02 00:00:30    2.0
2014-08-03 00:00:30    2.5
2014-08-04 00:00:30    1.5
2014-08-05 00:00:30    0.5
dtype: float64

In [89]:
# Еще один способ осуществить сдвиг дат, предлагаемый методом .shift(). Этот метод сдвигает индексные метки на указанное
# количество единиц определенной частоты, при этом частоту задают с помощью параметра freq
# сдвигаем индексные метки на 1 час назад
ts.shift(-1, freq = 'H')

2014-07-31 23:00:00    1.0
2014-08-01 23:00:00    2.0
2014-08-02 23:00:00    2.5
2014-08-03 23:00:00    1.5
2014-08-04 23:00:00    0.5
Freq: D, dtype: float64

__Преобразование частоты временного ряда__

In [91]:
# Частоту временного ряда можно преобразовать с помощью метода .asfreq() объекта в котором записан временной ряд
# В результате преобразования частоты будет создан новый объект Series с индексом DatatimeIndex
# создаем серию последовательно возрастающих значений, представляющих собой часовые интервалы всех дней августа 2014 года
periods = 31 * 24
hourly = pd.Series(np.arange(0, periods), pd.date_range('08-01-2014', freq = '2H', periods = periods))
hourly[:10]

2014-08-01 00:00:00    0
2014-08-01 02:00:00    1
2014-08-01 04:00:00    2
2014-08-01 06:00:00    3
2014-08-01 08:00:00    4
2014-08-01 10:00:00    5
2014-08-01 12:00:00    6
2014-08-01 14:00:00    7
2014-08-01 16:00:00    8
2014-08-01 18:00:00    9
Freq: 2H, dtype: int32

In [93]:
# следующий программный код преобразует ежечасовую частоту временного ряда в ежесуточную с помощью метода .asfreq('D')
daily = hourly.asfreq('D')
daily

2014-08-01      0
2014-08-02     12
2014-08-03     24
2014-08-04     36
2014-08-05     48
             ...
2014-09-27    684
2014-09-28    696
2014-09-29    708
2014-09-30    720
2014-10-01    732
Freq: D, Length: 62, dtype: int32

In [94]:
# преобразуем обратно в часовую частоту
daily.asfreq('H')

2014-08-01 00:00:00      0.0
2014-08-01 01:00:00      NaN
2014-08-01 02:00:00      NaN
2014-08-01 03:00:00      NaN
2014-08-01 04:00:00      NaN
                       ...
2014-09-30 20:00:00      NaN
2014-09-30 21:00:00      NaN
2014-09-30 22:00:00      NaN
2014-09-30 23:00:00      NaN
2014-10-01 00:00:00    732.0
Freq: H, Length: 1465, dtype: float64

In [95]:
# выполняем прямое заполнение значений Nan 
daily.asfreq('H', method = 'ffill')

2014-08-01 00:00:00      0
2014-08-01 01:00:00      0
2014-08-01 02:00:00      0
2014-08-01 03:00:00      0
2014-08-01 04:00:00      0
                      ...
2014-09-30 20:00:00    720
2014-09-30 21:00:00    720
2014-09-30 22:00:00    720
2014-09-30 23:00:00    720
2014-10-01 00:00:00    732
Freq: H, Length: 1465, dtype: int32

In [98]:
daily.asfreq('H', method = 'bfill')

2014-08-01 00:00:00      0
2014-08-01 01:00:00     12
2014-08-01 02:00:00     12
2014-08-01 03:00:00     12
2014-08-01 04:00:00     12
                      ...
2014-09-30 20:00:00    732
2014-09-30 21:00:00    732
2014-09-30 22:00:00    732
2014-09-30 23:00:00    732
2014-10-01 00:00:00    732
Freq: H, Length: 1465, dtype: int32

__Увеличение или уменьшение шага дискретизации временного ряда__

In [99]:
# сгенерируем случайное блуждание за 5 дней по 1-секундным интервалам и получим большое количество значений
count = 24 * 60 * 60 * 5
# создаем серию значений
np.random.seed(123456)
values = np.random.randn(count)
ws = pd.Series(values)
# вычисляем накопленую сумму
walk = ws.cumsum()
# создаем индекс
walk.index = pd.date_range('2014-08-01', periods = count, freq = 'S')
walk

2014-08-01 00:00:00      0.469112
2014-08-01 00:00:01      0.186249
2014-08-01 00:00:02     -1.322810
2014-08-01 00:00:03     -2.458442
2014-08-01 00:00:04     -1.246330
                          ...
2014-08-05 23:59:55    456.529763
2014-08-05 23:59:56    456.052131
2014-08-05 23:59:57    455.202981
2014-08-05 23:59:58    454.947362
2014-08-05 23:59:59    456.191430
Freq: S, Length: 432000, dtype: float64

In [100]:
# изменение шага дискретизации (передискретизация) в библиотеке pandas выполняется с помощью метода .resample() 
# и передачи в него новой частоты
# уменьшаем шаг дискретизации, преобразуем односекундные интервалы в одноминутные
walk.resample('1Min').mean()

2014-08-01 00:00:00     -8.718220
2014-08-01 00:01:00    -15.239213
2014-08-01 00:02:00     -9.179315
2014-08-01 00:03:00     -8.338307
2014-08-01 00:04:00     -8.129554
                          ...
2014-08-05 23:55:00    453.773467
2014-08-05 23:56:00    450.857039
2014-08-05 23:57:00    450.078149
2014-08-05 23:58:00    444.637806
2014-08-05 23:59:00    453.837417
Freq: T, Length: 7200, dtype: float64

In [101]:
# вычисляем среднее значение первой минуты блуждания
walk['2014-08-01 00:00'].mean()

-8.718220052832644

In [102]:
# используем интервалы закрытые справа
walk.resample('1Min', closed = 'right').mean()

2014-07-31 23:59:00      0.469112
2014-08-01 00:00:00     -8.907477
2014-08-01 00:01:00    -15.280685
2014-08-01 00:02:00     -9.083865
2014-08-01 00:03:00     -8.285550
                          ...
2014-08-05 23:55:00    453.726168
2014-08-05 23:56:00    450.849039
2014-08-05 23:57:00    450.039159
2014-08-05 23:58:00    444.631719
2014-08-05 23:59:00    453.955377
Freq: T, Length: 7201, dtype: float64

In [103]:
# используем интервалы закрытые слева
walk.resample('1Min', closed = 'left').mean()

2014-08-01 00:00:00     -8.718220
2014-08-01 00:01:00    -15.239213
2014-08-01 00:02:00     -9.179315
2014-08-01 00:03:00     -8.338307
2014-08-01 00:04:00     -8.129554
                          ...
2014-08-05 23:55:00    453.773467
2014-08-05 23:56:00    450.857039
2014-08-05 23:57:00    450.078149
2014-08-05 23:58:00    444.637806
2014-08-05 23:59:00    453.837417
Freq: T, Length: 7200, dtype: float64

In [104]:
# вычисление среднего для каждого интервала - это только один вариант. Код ниже приводит первое значение в каждом интервале
walk.resample('1Min').first()

2014-08-01 00:00:00      0.469112
2014-08-01 00:01:00    -10.886314
2014-08-01 00:02:00    -13.374656
2014-08-01 00:03:00     -7.647693
2014-08-01 00:04:00     -4.482292
                          ...
2014-08-05 23:55:00    452.900335
2014-08-05 23:56:00    450.062374
2014-08-05 23:57:00    449.582419
2014-08-05 23:58:00    447.243014
2014-08-05 23:59:00    446.877810
Freq: T, Length: 7200, dtype: float64