In [1]:
# импортируем библиотеки numpy и pandas
import numpy as np
import pandas as pd

# импортируем библиотеку datatime для работы с датами
import datetime
from datetime import datetime, date

# задаем некоторые опции библиотеки pandas, которые настраивают вывод
pd.set_option('display.notebook_repr_html', False)     # задаем вывод в виде текста, а не HTML
pd.set_option('display.max_columns', 8)                # устанавливаем отображение максимального количества стобцов
pd.set_option('display.max_rows', 10)                  # устанавливаем отображение максимального количества строк
pd.set_option('display.width', 80)                     # устанавливаеv максимальную ширину отображения в символах

# импортируем библиотеку matplotlib для построения графиков
import matplotlib.pyplot as plt 
%matplotlib inline

### __Создание объектов DataFrame__

__Создание объекта DataFrame на основе результатов функций NumPy__

In [2]:
# создаем DataFrame из одномерного массива NumPy
pd.DataFrame(np.arange(1, 6))
# 0 над данными это имя столбца

   0
0  1
1  2
2  3
3  4
4  5

In [4]:
# создаем DataFrame из двумерного массива NumPy
df = pd.DataFrame(np.array([[10, 11], [20, 21]]))
df

    0   1
0  10  11
1  20  21

In [5]:
# доступ к столбцам DataFrame можно получить с помощью свойства .columns
df.columns # так как имена столбцов не заданы, Pandas самостоятельно дает имена от 0

RangeIndex(start=0, stop=2, step=1)

In [6]:
df = pd.DataFrame(np.array([[70, 71], [90, 91]]), 
                 columns = ['Missoula', 'Philadelphia'])
df

   Missoula  Philadelphia
0        70            71
1        90            91

In [7]:
# количество строк в объекте DataFrame можно получить с помощью функции len()
len(df)

2

In [8]:
# размерность DataFrame можно вычислить с помощью свойства .shape()
df.shape

(2, 2)

__Создание объекта DataFrame с помощью питоновского словаря и объектов Series__

In [9]:
# создание DataFrame из питоновского словаря
temps_missoula = [70, 71]
temps_philly = [90, 91]
temperatures = {'Missoula': temps_missoula,
               'Philadelphia': temps_philly}
pd.DataFrame(temperatures)

   Missoula  Philadelphia
0        70            90
1        71            91

In [10]:
# создаем DataFrame для списка объектов Series
temps_at_time0 = pd.Series([70, 90])
temps_at_time1 = pd.Series([71, 91])
df = pd.DataFrame([temps_at_time0, temps_at_time1])
df

    0   1
0  70  90
1  71  91

In [11]:
# задаем имена столбцов после создания DataFrame
df = pd.DataFrame([temps_at_time0, temps_at_time1])
df.columns = ['Missoula', 'Philadelphia']
df

   Missoula  Philadelphia
0        70            90
1        71            91

In [12]:
# создаем DataFrame с помощью словаря, состоящего из объектов Series
temps_mso_series = pd.Series(temps_missoula)
temps_phl_series = pd.Series(temps_philly)
df = pd.DataFrame({'Missoula': temps_missoula,
               'Philadelphia': temps_philly})
df

   Missoula  Philadelphia
0        70            90
1        71            91

In [14]:
# при создании объекта DataFrame добавляемая серия будет выровнена
temps_nyc_series = pd.Series([85, 87], index = [1, 2])
df = pd.DataFrame({'Missoula': temps_mso_series,
                   'Philadelphia': temps_phl_series,
                   'New York': temps_nyc_series})
df

   Missoula  Philadelphia  New York
0      70.0          90.0       NaN
1      71.0          91.0      85.0
2       NaN           NaN      87.0

__Создание объекта DataFrame на основе CSV - файла__

In [20]:
# считываем из файла данные и выводим первые 5 строк
sp500 = pd.read_csv("./sp500.csv",
                   index_col = 'Symbol',     # используем столбец Symbol в качестве индекса
                   usecols = [0, 2, 3, 7])   # и считываем только те столбцы у которых позиции 0, 2, 3, 7
sp500.head()

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [21]:
# проверяем сколько строк данных
len(sp500)

500

In [23]:
# какова форма DataFrame
sp500.shape

(500, 3)

In [24]:
# какой размер DataFrame? Мы подразумеваем сколько данных в количественном выражении 500 * 3
sp500.size

1500

In [25]:
# индекс датафрейма состоит из сокращенных названий акций, исследуем его
sp500.index

Index(['MMM', 'ABT', 'ABBV', 'ACN', 'ACE', 'ACT', 'ADBE', 'AES', 'AET', 'AFL',
       ...
       'XEL', 'XRX', 'XLNX', 'XL', 'XYL', 'YHOO', 'YUM', 'ZMH', 'ZION', 'ZTS'],
      dtype='object', name='Symbol', length=500)

In [27]:
# получаем информацию о столбцах
sp500.columns

Index(['Sector', 'Price', 'Book Value'], dtype='object')