In [1]:
# импортируем библиотеки numpy и pandas
import numpy as np
import pandas as pd

# импортируем библиотеку datatime для работы с датами
import datetime
from datetime import datetime, date

# задаем некоторые опции библиотеки pandas, которые настраивают вывод
pd.set_option('display.notebook_repr_html', False)     # задаем вывод в виде текста, а не HTML
pd.set_option('display.max_columns', 8)                # устанавливаем отображение максимального количества стобцов
pd.set_option('display.max_rows', 10)                  # устанавливаем отображение максимального количества строк
pd.set_option('display.width', 80)                     # устанавливаеv максимальную ширину отображения в символах

# импортируем библиотеку matplotlib для построения графиков
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
# создаем объекст Series, индекс которого - серия дат между двумя определенными датами (включительно)
# с помощью функции Pandas pd.date_range
dates = pd.date_range('2016-04-01', '2016-04-06')

In [3]:
# создаем объекст Series, в котором значениям температуры будут соответствовать даты в индексе
temps1 = pd.Series([80, 82, 85, 90, 83, 87], index = dates)
temps2 = pd.Series([70, 75, 69, 83, 79, 77], index = dates)

In [5]:
# создаем объект DataFrame с двумя сериями temps1 и temps2 и присваиваем им имена столбцов
temps_df = pd.DataFrame({'Missoula': temps1,
                       'Philadelphia': temps2})
temps_df

            Missoula  Philadelphia
2016-04-01        80            70
2016-04-02        82            75
2016-04-03        85            69
2016-04-04        90            83
2016-04-05        83            79
2016-04-06        87            77

In [6]:
# столбцы в объекте DataFrame можно вывести с помощью индексатора массива [] задав имя столбца 
temps_df['Missoula']

2016-04-01    80
2016-04-02    82
2016-04-03    85
2016-04-04    90
2016-04-05    83
2016-04-06    87
Freq: D, Name: Missoula, dtype: int64

In [8]:
# или список имен столбцов
temps_df[['Philadelphia', 'Missoula']]
temps_df

            Missoula  Philadelphia
2016-04-01        80            70
2016-04-02        82            75
2016-04-03        85            69
2016-04-04        90            83
2016-04-05        83            79
2016-04-06        87            77

In [10]:
# если имя столбца не имеет пробелов, его можно вывести, воспользовавшись "вычисляемым" свойством
temps_df.Missoula

2016-04-01    80
2016-04-02    82
2016-04-03    85
2016-04-04    90
2016-04-05    83
2016-04-06    87
Freq: D, Name: Missoula, dtype: int64

In [11]:
# арифметические действия со столбцами так же возможны
# вычислим разницу температур двух городов
temps_df.Missoula - temps_df.Philadelphia

2016-04-01    10
2016-04-02     7
2016-04-03    16
2016-04-04     7
2016-04-05     4
2016-04-06    10
Freq: D, dtype: int64

In [13]:
# вычисляем разницу в температуре
temp_diffs = temps1 - temps2
temp_diffs

2016-04-01    10
2016-04-02     7
2016-04-03    16
2016-04-04     7
2016-04-05     4
2016-04-06    10
Freq: D, dtype: int64

In [14]:
# новый столбец можно добавить в объект DataFrame, присвоив еще одну серию столбцу с помощью индексатора массива []
# добавляем в DataFrame temp_diffs столбец Difference, который содержит разности температур
temps_df['Difference'] = temp_diffs
temps_df

            Missoula  Philadelphia  Difference
2016-04-01        80            70          10
2016-04-02        82            75           7
2016-04-03        85            69          16
2016-04-04        90            83           7
2016-04-05        83            79           4
2016-04-06        87            77          10

In [15]:
# имена столбцов в объекте DataFrame можно получить с помощью свойства .columns
temps_df.columns

Index(['Missoula', 'Philadelphia', 'Difference'], dtype='object')

In [16]:
# создаем срез. отбираем значение разностей температур в столбце Difference, начиная с позиции 1 и заканчивая позицией 4.
# диапазон не включает элемент с позицией 4
temps_df.Difference[1:4]

2016-04-02     7
2016-04-03    16
2016-04-04     7
Freq: D, Name: Difference, dtype: int64

In [19]:
# полностью извлечь строку можно с помощью свойств .loc и .iloc 
# свойство loc осуществляет поиск по метке индекса
# свойство iloc осуществляет поиск по позиции
# получаем строкуб которая соответствует метка индекса 1
temps_df.iloc[1]

Missoula        82
Philadelphia    75
Difference       7
Name: 2016-04-02 00:00:00, dtype: int64

In [21]:
# имена столбцов стали индексами, "переворачиваем" их
temps_df.iloc[1].index

Index(['Missoula', 'Philadelphia', 'Difference'], dtype='object')

In [22]:
temps_df.loc['2016-04-04']

Missoula        90
Philadelphia    83
Difference       7
Name: 2016-04-04 00:00:00, dtype: int64

In [23]:
temps_df.loc['2016-04-04'].index

Index(['Missoula', 'Philadelphia', 'Difference'], dtype='object')

In [25]:
# получаем значение столбца Difference в строках 1, 3, 5, используя целочисленные позиции с началом отсчета в 0
temps_df.iloc[[1, 3, 5]].Difference

2016-04-02     7
2016-04-04     7
2016-04-06    10
Freq: 2D, Name: Difference, dtype: int64

In [26]:
# строки можно обрабатывать логическими выражениями (логический отбор или отбор на основе булевых значений)
# какие значения в столбце Missoula > 82?
temps_df[temps_df.Missoula > 82]

            Missoula  Philadelphia  Difference
2016-04-03        85            69          16
2016-04-04        90            83           7
2016-04-05        83            79           4
2016-04-06        87            77          10