### __Создание объекта Series с помощью питоновских списков и словарей__

In [2]:
# импортируем библиотеки numpy и pandas
import numpy as np
import pandas as pd

# импортируем библиотеку datatime для работы с датами
import datetime
from datetime import datetime, date

# задаем некоторые опции библиотеки pandas, которые настраивают вывод
pd.set_option('display.notebook_repr_html', False)     # задаем вывод в виде текста, а не HTML
pd.set_option('display.max_columns', 8)                # устанавливаем отображение максимального количества стобцов
pd.set_option('display.max_rows', 10)                  # устанавливаем отображение максимального количества строк
pd.set_option('display.width', 80)                     # устанавливаеv максимальную ширину отображения в символах

# импортируем библиотеку matplotlib для построения графиков
import matplotlib.pyplot as plt 
%matplotlib inline

In [3]:
# создаем серию значений из списка

s = pd.Series([10, 11, 12, 13, 14])
s

0    10
1    11
2    12
3    13
4    14
dtype: int64

In [4]:
# получаем значение записанное в метке индекса

s[3]

13

In [6]:
# кроме целых чисел можно использовать и другие типы данных
# создаем серию из строковых значений 
pd.Series(['Mike', 'Marcia', 'Mikael', 'Bleu'])

0      Mike
1    Marcia
2    Mikael
3      Bleu
dtype: object

In [7]:
# чтобы создать серию из одинаковых значений, используем сокращенную запись Python для создания списка [x]*n
pd.Series([2]*5)

0    2
1    2
2    2
3    2
4    2
dtype: int64

In [8]:
# используем каждый символ в качестве значения
pd.Series(list('abcde'))

0    a
1    b
2    c
3    d
4    e
dtype: object

In [9]:
# серию можно инициализировать из питоновского словаря
pd.Series({'Mike': 'Dad',
           'Marcia': 'Mom',
           'Mikael': 'Son',
           'Bleu': 'dog'})

Mike      Dad
Marcia    Mom
Mikael    Son
Bleu      dog
dtype: object

### __Создание объекта Series с помощью функции NumPy__